<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="sun-effect"></div>
    <!-- Sun effect behind the box -->

    <!-- Programming Language Links with Images Around the Sun -->
    <div class="language-links">
      <a href="#" class="language-link" id="link-python">
        <img
          src="{{ url_for('static', filename='images/python.png') }}"
          alt="Python"
        />
      </a>
      <a href="#" class="language-link" id="link-java">
        <img
          src="{{ url_for('static', filename='images/java.png') }}"
          alt="Java"
        />
      </a>
      <a href="#" class="language-link" id="link-javascript">
        <img
          src="{{ url_for('static', filename='images/javascript.png') }}"
          alt="JavaScript"
        />
      </a>
      <a href="#" class="language-link" id="link-csharp">
        <img
          src="{{ url_for('static', filename='images/csharp.png') }}"
          alt="C#"
        />
      </a>
      <a href="#" class="language-link" id="link-ruby">
        <img
          src="{{ url_for('static', filename='images/ruby.png') }}"
          alt="Ruby"
        />
      </a>
      <a href="#" class="language-link" id="link-go">
        <img src="{{ url_for('static', filename='images/go.png') }}" alt="Go" />
      </a>
      <a href="#" class="language-link" id="link-cplusplus">
        <img
          src="{{ url_for('static', filename='images/cplusplus.png') }}"
          alt="C++"
        />
      </a>
      <a href="#" class="language-link" id="link-swift">
        <img
          src="{{ url_for('static', filename='images/swift.png') }}"
          alt="Swift"
        />
      </a>
    </div>

    <div class="welcome-container">
      <h1>Choose your destiny...</h1>
      <a href="{{ url_for('index') }}" class="enter-button"
        >Click here to begin</a
      >
    </div>
  </body>
</html>
